<section class="not-found container">
    <h2>Seite nicht gefunden</h2>
    <p>Die gesuchte Seite existiert nicht. Benutzen Sie die Navigation oben, um sich zurechtzufinden.</p>
    <a href="/">Zur Startseite</a>
</section>
