<section class="about">
    <div class="container">
        <h2 class="section-title">Über uns</h2>
        <p class="section-text">
            Der Makerspace dient sowohl als Werkraum für Projekte als auch als Ansprechpartner für handwerkliche Problemlösungen.
        </p>

        <div class="about-blocks">
            <div class="about-block">
                <h3>Unsere Aufgabe</h3>
                <p>Das Ziel des Makerspace ist es, eine offene Werkstatt für erfinderisch und praktisch veranlagten Schülerinnen und Schülern zu sein, in der ihnen ohne Hürden die Mittel zur Umsetzung kreativer Projekte frei zur Verfügung stehen. Die Makerspace-AG arbeitet an Projekten für die Schulleitung, die SMV und das Lehrerkollegium. Das Kernteam leitet Fortbildungen und steht euch jederzeit als Fachberatung zur Verfügung.</p>
            </div>
            <div class="about-block">
                <h3>Die Entstehung</h3>
                <p>Seit Jahrzehnten fördert das Otto-von-Taube Gymnasium Forschungsprojekte, die Teilnahme an Wettbewerben wie Jugend-forscht und Zusatzinhalte im MINT-Bereich. Über die Zeit hinweg wurde es klar, dass eine Schülerwerkstatt benötigt wird, um die Projekte effektiver voranzubringen. Hier ist der Makerspace entstanden: Mithilfe von motivierten SchülerInnen gründeten Dr. Ralf Laupitz und Thomas Frank, zwei Lehrer des OvTG, 2025 den Wahlkurs und das Kernteam. Ein Jahr und ein paar erste Projekte später beginnen wir nun, euch den Makerspace näherzubringen. </p>
            </div>
        </div>

        <h2 class="section-title">Der Vorstand</h2>
        <p class="section-text" >
            Der Vorstand ist verantwortlich für das Organisieren und Instandhalten des Makerspace. Er kümmert sich um die Versorgung mit Material, interne Projekte, Schulveranstaltungen und ist euer Ansprechpartner, wenn ihr Fragen habt.
        </p>
        <div class="team-grid">
            <article class="team-card">
                <img src="/images/team/member-1.webp" alt="Teammitglied" class="team-photo">
                <h4>Timo Perkert</h4>
                <p>Gründungsmitglied | Kl. 11b</p>
            </article>
            <article class="team-card">
                <img src="/images/team/member-2.webp" alt="Teammitglied" class="team-photo">
                <h4>Simon Korten</h4>
                <p>Gründungsmitglied | Kl. 11b</p>
            </article>
            <article class="team-card">
                <img src="/images/team/member-3.webp" alt="Teammitglied" class="team-photo">
                <h4>Carola Albrecht</h4>
                <p>Gründungsmitglied | Kl. 11b</p>
            </article>
            <article class="team-card">
                <img src="/images/team/member-4.webp" alt="Teammitglied" class="team-photo">
                <h4>Niklas Großkopf</h4>
                <p>Klasse 8c</p>
            </article>
        </div>
    </div>
</section>
