<section class="courses container">
    <h2>Unsere Kurse</h2>
    <p>Entdecken Sie eine Vielzahl von Kursangeboten.</p>

    <ul class="course-list">
        <li>
            <h4>Einführung ins Laserschneiden</h4>
            <p>Platzhalterbeschreibung für einen Workshop für Anfänger.</p>
        </li>
        <li>
            <h4>3D-Druck Grundlagen</h4>
            <p>Platzhalterinhalt für eine Einführungsveranstaltung.</p>
        </li>
        <li>
            <h4>Fortgeschrittener Maschinenworkshop</h4>
            <p>Platzhalterdetails für weiterführende Schulungen.</p>
        </li>
    </ul>
</section>
