<script>
    window.carouselSlides = {{{slidesJson}}};
</script>
<script src="/js/carousel.js" defer></script>

<section class="carousel-section">
    <div class="carousel">
        <button id="left-btn" class="carousel-btn" aria-label="Previous slide">
            <i class="arrow"></i>
        </button>

        <a id="carousel-link" class="carousel-link" href="#">
            <img id="carousel" src="" alt="">
            <div class="carousel-caption">
                <h2 id="carousel-title"></h2>
                <p id="carousel-subtitle"></p>
            </div>
        </a>

        <button id="right-btn" class="carousel-btn" aria-label="Next slide">
            <i class="arrow"></i>
        </button>
    </div>
</section>


<section class="home-intro">
    <div class="container">
        <h2 class="section-title">Makerspace – einfach mal machen
</h2>
        <p class="section-text">Du besuchst das Otto-von-Taube-Gymnasium und suchst nach einer Möglichkeit, deine Ideen zu verwirklichen? Im Makerspace findest Du jederzeit kostenlos Werkbänke, Werkzeuge, 3D-Drucker und gerne auch Beratung zu deren Verwendung. Ob für ein schulisches Projekt, aus privatem Interesse oder einfach nur zur Umsetzung eines spontanen, coolen Einfalls – unsere Türen stehen allen Schülerinnen und Schülern am OvTG offen. <br> Findest Du einfach Freude daran, an Problemlösungen zu tüfteln und Ideen Wirklichkeit werden zu lassen? Interessierte Schüler können sich nach Belieben unserer AG anschließen, um gemeinsam an den verschiedensten Projekten zu arbeiten.</p>
    </div>
</section>

<section class="featured-cards container">
    <div class="card-grid">
        <a href="/about" class="card">
            <h4>Über uns</h4>
            <p>Hier findest du eine Einführung in die Geschichte und Ziele des Makerspace.</p>
            <span> Mehr Erfahren </span>
        </a>
        <a href="/contact" class="card">
            <h4>Kontakt aufnehmen</h4>
            <p>Bei Fragen oder Vorschlägen kannst Du uns gerne kontaktieren.</p>
            <span> Mehr Erfahren </span>
        </a>    
        <a href="/courses" class="card">
            <h4>Kurse</h4>
            <p>Sieh dir aktuelle Termine für Fortbildungen und Kurse an.</p>
            <span> Mehr Erfahren </span>
        </a>
    </div>
</section>

<section class="support">
    <div class="container">
        <h2 class="section-title">Unsere Partner</h2>
        <p class="section-text">Ohne unsere Unterstützer und Sponsoren wäre der Makerspace nicht in der Lage, den Schülern seine Möglichkeiten zu bieten.
</p>
        <div class="sponsor-logos">
            <div class="sponsor-logo">Sponsor-Logo</div>
            <div class="sponsor-logo">Sponsor-Logo</div>
            <div class="sponsor-logo">Sponsor-Logo</div>
            <div class="sponsor-logo">Sponsor-Logo</div>
        </div>
    </div>
</section>
