<script>
    window.carouselSlides = {{{slidesJson}}};
</script>
<script src="/js/carousel.js" defer></script>

<section class="carousel-section">
    <div class="carousel">
        <button id="left-btn" class="carousel-btn" aria-label="Previous slide">
            <i class="arrow"></i>
        </button>

        <a id="carousel-link" class="carousel-link" href="#">
            <img id="carousel" src="" alt="">
            <div class="carousel-caption">
                <h2 id="carousel-title"></h2>
                <p id="carousel-subtitle"></p>
            </div>
        </a>

        <button id="right-btn" class="carousel-btn" aria-label="Next slide">
            <i class="arrow"></i>
        </button>
    </div>
</section>


<section class="home-intro">
    <div class="container">
        <h2 class="section-title-centered">Makerspace – einfach mal machen
</h2>
        <img src="/images/main-shot-room.webp" alt="Innenansicht des Makerspace" class="main-photo">
        <p class="section-text">Du besuchst das Otto-von-Taube-Gymnasium und suchst nach einer Möglichkeit, deine Ideen zu verwirklichen? Im Makerspace findest Du jederzeit Werkbänke, Werkzeuge, 3D-Drucker und gerne auch Beratung zu deren Verwendung. Ob für ein schulisches Projekt, aus privatem Interesse oder einfach nur zur Umsetzung eines spontanen, coolen Einfalls – unsere Türen stehen allen Schülerinnen und Schülern am OvTG offen. <br> Findest Du einfach Freude daran, an Problemlösungen zu tüfteln und Ideen Wirklichkeit werden zu lassen? Interessierte Schüler können sich nach Belieben unserer AG anschließen, um gemeinsam an den verschiedensten Projekten zu arbeiten.</p>
    </div>
</section>

<section class="featured-cards container">
    <div class="card-grid">
        <a href="/ueber-uns" class="card">
            <h4>Über uns</h4>
            <p>Hier findest du eine Einführung in die Geschichte und Ziele des Makerspace.</p>
            <span> Mehr Erfahren </span>
        </a>
        <a href="/kurse" class="card">
            <h4>Kurse</h4>
            <p>Sieh dir aktuelle Termine für Fortbildungen und Kurse an.</p>
            <span> Mehr Erfahren </span>
        </a>
        <a href="/kontakt" class="card">
            <h4>Kontakt aufnehmen</h4>
            <p>Bei Fragen oder Vorschlägen kannst Du uns gerne kontaktieren.</p>
            <span> Mehr Erfahren </span>
        </a>
    </div>
</section>
<section class="help">
    <div class="container">
        <div class="help-hero">
            <h2>FAQ</h2>
            <p>Hier findest du die wichtigsten Informationen zum Makerspace OvTG auf einen Blick.</p>
        </div>

        <div class="help-article-body">
            <h2>Wie kannst du uns finden?</h2>
            <p>
                Der MakerSpace befindet sich in Raum A301, neben dem Computerraum Ost.<br>
                Wir sind in den meisten Pausen für dich da, aber du kannst dich auch mit einem <a href="/ueber-uns">Kernteammitglied</a> absprechen.
            </p>
        </div>
        
        <div class="help-article-body">
            <h2>Was kannst du bei uns machen?</h2>
            <p>
                Um deine Projekte zu verwirklichen, bietet der Makerspace dir Platz, Werkzeuge und Materialien. Die Nutzung ist kostenlos – sprich dich einfach mit dem Kernteam ab.
                Wir sind für die verschiedensten Schulprojekte offen, sei es die Teilnahme an Wettbewerben wie Jugend Forscht oder praktische Gruppenarbeit im Rahmen des Unterrichts.
                Die Nutzung des Makerspace ist allerdings nicht nur auf den schulischen Rahmen beschränkt. Wenn du einen coolen Einfall Realität werden lassen willst, spontan einen 3D-Drucker oder
                andere Werkzeuge brauchst oder einfach nach einem ruhigen Arbeitsort suchst, bist du bei uns genau richtig!<br>
            </p>
        </div>

        <div class="help-article-body">
            <h2>Welche Regeln muss ich beachten?</h2>
            <p>
                Bitte beachte folgende Grundregeln bei der Benutzung des Raumes:
            </p>
            <ul>
                <li>Um Geräte des Makerspace zu nutzen, ist eine Erlaubnis und Einweisung durch den Makerspace-Vorstand oder das Kernteam nötig.</li>
                <li>Einige wenige Werkzeuge dürfen nur unter Beaufsichtigung einer Lehrkraft benutzt werden.</li>
                <li>Wenn du Materialien in einer der Kisten in unserem Regal lagerst, sollten diese mit Projektnamen und Kontaktinformationen eines Verantwortlichen beschriftet sein.</li>
                <li>Bei Fragen bezüglich der Nutzung des Makerspace oder Organisation deines Projekts steht das Kernteam gerne zur Verfügung.</li>
            </ul>
        </div>

        <div class="help-article-body">
            <h2>Was ist die Makerspace-AG?</h2>
            <p>
                Die Mitglieder der Makerspace-AG kümmert sich um den Makerspace selbst. Wir planen unsere Teilnahme an Schulveranstaltungen und die Erweiterung unserer Möglichkeiten.
                Außerdem übernehmen wir von der Schule beauftragte Projekte.<br>
                Die Treffen der AG finden jeden Donnerstag in der 9. Stunde von 15:15 bis 16:00 Uhr statt.
            </p>
        </div>
    </div>
</section>

<section class="support">
    <div class="container">
        <h2 class="section-title">Unsere Partner</h2>
        <p class="section-text">Ohne unsere Unterstützer und Sponsoren wäre der Makerspace nicht in der Lage, den Schülern seine Möglichkeiten zu bieten.
</p>
        <div class="sponsor-logos">
            <div class="sponsor-logo">
                <img src="/logos/otto-von-taube-gymnasium.png" alt="Logo Otto-von-Taube-Gymnasium" class="sponsor-image">
            </div>
            <div class="sponsor-logo">
                <img src="/logos/foerderverein.png" alt="Logo Foerderverein OvTG" class="sponsor-image">
            </div>
            <div class="sponsor-logo">
                <img src="/logos/gemeinde-gauting.png" alt="Logo Gemeinde Gauting" class="sponsor-image">
            </div>
            {{!-- <div class="sponsor-logo">Sponsor-Logo</div>
            <div class="sponsor-logo">Sponsor-Logo</div> --}}
        </div>
    </div>
</section>
