<script>
    window.carouselSlides = {{{slidesJson}}};
</script>
<script src="/js/carousel.js" defer></script>

<section class="carousel-section">
    <div class="carousel">
        <button id="left-btn" class="carousel-btn" aria-label="Previous slide">
            <i class="arrow"></i>
        </button>

        <a id="carousel-link" class="carousel-link" href="#">
            <img id="carousel" src="" alt="">
            <div class="carousel-caption">
                <h2 id="carousel-title"></h2>
                <p id="carousel-subtitle"></p>
            </div>
        </a>

        <button id="right-btn" class="carousel-btn" aria-label="Next slide">
            <i class="arrow"></i>
        </button>
    </div>
</section>


<section class="hero">
    <div class="container">
        <h2>Willkommen auf unserer Website</h2>
        <p>Platzhalter-Text zur Vorstellung der Mission, Vision oder neuesten Nachrichten.</p>
    </div>
</section>

     

<section class="featured-cards container">
    <div class="card-grid">
        <a href="/about" class="card">
            <h4>Bereich Eins</h4>
            <p>Platzhalter-Inhalt für Highlights oder Neuigkeiten.</p>
            <span> Mehr Erfahren </span>
        </a>
        <a href="/courses" class="card">
            <h4>Bereich Eins</h4>
            <p>Platzhalter-Inhalt für Highlights oder Neuigkeiten.</p>
            <span> Mehr Erfahren </span>
        </a>    
        <a href="/contact" class="card">
            <h4>Bereich Eins</h4>
            <p>Platzhalter-Inhalt für Highlights oder Neuigkeiten.</p>
            <span> Mehr Erfahren </span>
        </a>
    </div>
</section>
