<section class="help">
  <div class="container">
    <div class="help-hero">
      <h2>FAQ</h2>
      <p>Hier findest du die wichtigsten Informationen zum MakerSpace OvTG auf einen Blick.</p>
    </div>

      <div class="help-article-body">
        <h2>Wie kannst du uns finden?</h2>
        <p>
          Der MakerSpace befindet sich in Raum [Raumnummer hier einfügen], neben dem Computerraum Ost:<br>
          [PLATZHALTER - Karte mit eingezeichnetem Raum]<br>
          Wir sind in den meisten Pausen für dich da, aber du kannst dich auch mit einem Kernteammitglied absprechen.
        </p>
      </div>

      <div class="help-article-body">
        <h2>Was kannst du bei uns machen?</h2>
        <p>
          Der MakerSpace dient als Raum, um Projekte aller Art zu verwirklichen. Zu diesem Zweck bieten wir dir Platz zum Arbeiten und Testen, Computer mit CAD-Software,
          3D-Drucker und ein breites Sortiment an Werkzeugen und grundlegenden Materialien. Die Nutzung ist kostenlos – sprich dich einfach mit dem Kernteam ab.<br>
          [PLATZHALTER - Bilder der Ausstattung des MakerSpace]
        </p>
        <br>
          <h3>Schulische Projekte</h3>
          <p>
            Wir sind für die verschiedensten Schulprojekte offen, sei es die Teilnahme an Wettbewerben wie Jugend Forscht
            oder praktische Gruppenarbeit im Rahmen des Unterrichts.<br>
            [PLATZHALTER - Bilder von Katapulten, DLR, Jugend Forscht o.ä.]
          </p>
          <br>
          <h3>Private Projekte</h3>
          <p>
            Die Nutzung des MakerSpace ist nicht nur auf den schulischen Rahmen beschränkt. Wenn du einen coolen Einfall Realität werden lassen willst, spontan einen 3D-Drucker oder
            andere Werkzeuge brauchst oder einfach nach einem ruhigen Arbeitsort suchst, bist du bei uns genau richtig!<br>
            [PLATZHALTER - Bilder von privaten Projekten]
          </p>
      </div>

      <div class="help-article-body">
        <h2>Welche Regeln muss ich beachten?</h2>
        <p>
          Wir versuchen, dir bei deinen Projekten so viel Spielraum wie möglich zu lassen. Nutzerinnen und Nutzer des Raumes sollten bitte dennoch einige Grundregeln beachten:
        </p>
        <ul>
          <li>Die selbstständige Nutzung fortgeschritteneres Equipments wie des 3D-Druckers erfordert eine Einweisung durch den MakerSpace-Vorstand.</li>
          <li>Die Verwendung einiger weniger, passend gekennzeichneter Gegenstände ist ausschließlich unter Aufsicht einer Lehrkraft möglich.</li>
          <li>Wenn du Materialien in einer der Kisten in unserem Regal lagerst, sollten diese mit Projektnamen und Kontaktinformationen eines Verantwortlichen beschriftet sein.</li>
          <li>Bei Fragen bezüglich der Nutzung des MakerSpace, Organisation deines Projekts oder Finanzierung steht das Kernteam gerne zur Verfügung.</li>
        </ul>
      </div>

      <div class="help-article-body">
        <h2>Was ist die MakerSpace-AG?</h2>
        <p>
          Die MakerSpace-AG kümmert sich um die Instandhaltung und Erweiterung des MakerSpace und unserer Möglichkeiten, sowie die Umsetzung von der Schule beauftragter Projekte.<br>
          [PLATZHALTER - Bilder Tischhalter, Lehrerzimmerlüftung, ggf. Gruppenfoto der AG]
        </p>
          <h3>Teilnahme an der AG</h3>
          <p>
            [PLATZHALTER - Aufnahmeverfahren] Die Treffen der AG finden jeden Donnerstag in der 9. Stunde von 15:15 bis 16:00 Uhr statt.
          </p>
      </div>
  </div>
</section>
